@font-face {
    font-family: 'Helvetica Neue';
    src: url('../fonts/helvetica/HelveticaNeue.ttf');
    src: url('../fonts/helvetica/Helvetica Neu Bold.ttf');
    src: url('../fonts/helvetica/HelveticaNeue BlackCond.ttf');
    src: url('../fonts/helvetica/HelveticaNeue Light.ttf');
    src: url('../fonts/helvetica/HelveticaNeue Medium.ttf');
    src: url('../fonts/helvetica/HelveticaNeue Thin.ttf');
    src: url('../fonts/helvetica/HelveticaNeueBd.ttf');
    src: url('../fonts/helvetica/HelveticaNeueHv.ttf');
    src: url('../fonts/helvetica/HelveticaNeueIt.ttf');
    src: url('../fonts/helvetica/HelveticaNeueLt.ttf');
    src: url('../fonts/helvetica/HelveticaNeueMed.ttf');
}

body {
    background: linear-gradient(to bottom right, #4b95ff, #434BE4);
    font-family: Helvetica Neue;
}

.title {
    margin-top: 5%;
    margin-bottom: 5%;
    font-size: 25px;
    text-align: center;
    color: white;
}

.subtitle {
    font-size: large;
    color: white;
    margin-top: -25px;
}

.body {
    margin: auto;
    width: 825px;
    text-align: center;
    padding: 0;
}

.line {
    color: azure;
    width: 40%;
    margin: auto;
}

.text-area {
    background: mintcream;
    border-radius: 10px;
    text-align: left;
    box-sizing: border-box;
    padding-right: 35px;
    padding-top: 15px;
    height: 745px;
    width: 825px;
}

.text-area2 {
    background: mintcream;
    border: inset;
    border-color: darkblue;
    border-radius: 5%;
    -webkit-border-radius: 5%;
    -moz-border-radius: 5%;
    border-width: 5px;
    text-align: left;
    box-sizing: border-box;
    padding-right: 35px;
    padding-top: 15px;
    height: 850px;
}

.text-box {
    text-align: center;
}

.image-round {
    text-align: center;
    border-radius: 7%;
    -webkit-border-radius: 7%;
    -moz-border-radius: 7%;
    padding: 18px 17px 0 17px;
}

.image-circle {
    text-align: center;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    padding: 18px 17px 0 17px;
}

.features a {
    color: transparent;
}

.features {
    overflow: visible;
    padding: 0;
    width: 100%;
    height: 100%;
}

.features li {
    padding-top: 1em;
    padding-bottom: 0.5em;
    padding-left: 1em;
    padding-right: 50px;
    display: block;
    position: relative;
    text-align: left;
    width: 40%;
    height: 310px;
    border-radius: 5%;
    -webkit-border-radius: 5%;
    -moz-border-radius: 5%;
    border: medium;
    background-color: midnightblue;
}

.features ul li{
    transition-duration: 0.2s;
    -webkit-transition-duration: 0.2s;
}

.features ul li:hover{
    box-shadow: 0 10px 15px 0 rgba(0,0,0,0.20), 0 17px 50px 0 rgba(0,0,0,0.20);
}

.features h1 {
    text-align: center;
    font-size: 30px;
    color: azure;
}

.features p {
    color: white;
}

.features li:nth-child(1) {
    background: linear-gradient(to bottom right, deepskyblue, royalblue);
    float: left;
}

.features li:nth-child(2) {
    background: linear-gradient(to bottom right, deepskyblue, royalblue);
    float: right;
}

.features li:nth-child(3) {
    background: linear-gradient(to bottom right, deepskyblue, royalblue);
    float: left;
    margin-top: 15px;
}

.features li:nth-child(4) {
    background: linear-gradient(to bottom right, deepskyblue, royalblue);
    float:right;
    margin-top: 15px;
}

.steps {
    overflow: visible;
    padding: 0;
    width: 100%;
    color: azure;
}

.steps li {
    padding-top: 1em;
    padding-bottom: 1.5em;
    padding-left: 2%;
    padding-right: 2%;
    display: block;
    position: relative;
    width: 95%;
    border: medium;
    height: 140px;
    border-radius: 5%;
    -webkit-border-radius: 5%;
    -moz-border-radius: 5%;
}

.steps li:nth-child(1) {
    background: linear-gradient(to bottom right, deepskyblue, royalblue);
}

.steps li:nth-child(2) {
    background: linear-gradient(to bottom right, deepskyblue, royalblue);
    margin-top: 15px;
}

.steps li:nth-child(3) {
    background: linear-gradient(to bottom right, deepskyblue, royalblue);
    margin-top: 15px;
}

.steps li:nth-child(4) {
    background: linear-gradient(to bottom right, deepskyblue, royalblue);
    margin-top: 15px;
}

.steps .index {
    text-align: left;
    float: left;
    font-size: 60px;
    color: azure;
    margin-left: 2%;
}

.steps .additional {
    margin-left: 3%;
    margin-top: 0.5%;
    color: azure;
    width: 43%;
    float: left;
    white-space: nowrap;
}

.steps .description {
    margin-left: 2%;
    color: azure;
    width: 35%;
    float: left;
}

.steps .verticalRule {
    height: 140%;
    width: 0.5%;
    background: azure;
    border: transparent;
    float: left;
    margin-left: 5%;
}

.steps .verticalRule2 {
    height: 140%;
    width: 0.5%;
    background: azure;
    border: transparent;
    float: left;
    margin-left: 1%;
    margin-bottom: 100%;
}

input {
    width: 75%;
    color: deepskyblue;
    border-radius: 4px;
    border: transparent;
    padding: 0.5% 0.5%;
}

input[type=submit] {
    background-color: azure;
    color: black;
    width: 76%;
    padding: 0.5% 0.5%;
}

.map-background {
    background-color: black;
}